html { 
    height: 100% 

}
      
body { 
     height: 100%; 
     width: 100%;
     margin: 0; 
     padding: 0; 

 }
 #map-canvas { 

      height: 100%; 
      width: 70%; 
      float: left;
      position: absolute;

      }

.wrapper {
    height: 100%;
    width: 100%;

}


.main {
    width: 30%;
    max-height: 100%;
    float: right;
    position: relative;
    background-color: #E6E6E6;

}


img{
  width: 100%;
  height: auto;
 
}


p{
  font-family: Helvetica;
  color: #747474;
  max-width: 385px;
  margin: 0 auto;
  position: center;
  text-align: center;

}